* {
    margin: 0;
    padding: 0;
}

#flipkart-navbar {
    background-color: #394447;
    color: #FFFFFF;
    border-bottom: 0.01em #848484 solid;
}

.row1 {
    padding-top: 10px;
}

.row2 {
    padding-bottom: 20px;
}

.flipkart-navbar-input {
    background-color: #f2f5f6;
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
    border: 1px gray solid;
    color: #000 !important;
}

.flipkart-navbar-button {
    background-color: #f2f5f6;
    border: 1px solid gray;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 45px;
    cursor: pointer;
}

.cart-button {
    background-color: #DCDCDC;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 44px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: black !important;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.cart-button:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #ffffff !important;
    line-height: 12px;
    margin-left: 10px;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: white !important;
    border: none;
    outline: none;
    font-size: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    background-color: #fff;
}

.dropdown:hover .links {
    color: #ffffff !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li {
    padding-top: 2px;
}

.largenav {
    display: none;
    text-transform: uppercase;
    color: white;
}

.smallnav {
    display: block;
}

.smallsearch {
    margin-left: 15px;
    /* margin-top: 15px; */
}

.menu {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav {
        display: none;
    }
    .smallsearch {
        margin: 0px;
    }
}


/*Sidenav*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
}

@media screen and (max-height: 450px) {
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav-heading {
    font-size: 36px;
    color: #fff;
}

a:focus,
a:hover {
    color: #FFF88D;
    text-decoration: underline;
}

.navbarBack {
    background-color: #313a3c !important;
    color: #ffffff !important;
}

.navbar {
    border-radius: 0px !important;
}

.divResultsInput {
    color: #000 !important;
    width: 20em;
    height: 25em;
    display: flex;
    flex-direction: column;
    /* border: 1px blue solid; */
    align-items: center;
    align-content: center;
    margin-bottom: 2em;
    border: 1px black solid;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    border: 2px #313a3c solid;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.divResultsInput p {
    color: #000 !important;
}

.resultsSearchInput {
    padding: 2em;
    /* border: 1px blue solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    color: #000 !important;
}

.divImages {
    /* border: 1px blue solid; */
    width: 20em;
    height: 15em;
    background-color: #1E2522;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 0px solid #000000;
    border: 0px solid #000000;
}

.divTitle {
    text-align: center;
}

.image {
    width: 7em;
    height: 8em;
}

.resultsList {
    padding: 2em;
    /* border: 1px blue solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

img[src="/assets/images/g1267.png"] {
    width: 2em;
    display: inline;
}

svg path {
    background-color: #bdcad2 !important;
}

.links {
    color: white;
}

.categoriesSelect {
    background-color: #333d3f;
    height: 3.5em;
    text-transform: uppercase;
    text-align: center;
    border: none;
    width: 10em;
}

.navbarBack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.image {
    border-radius: 0px 10px 0px 10px;
    -moz-border-radius: 0px 10px 0px 10px;
    -webkit-border-radius: 0px 10px 0px 10px;
    border: 4px double #9DDE6A;
}

.divTitle,
.divPrice,
.divAvailable,
.divPrice,
.pAvailable {
    text-transform: uppercase;
    font-weight: bold;
}

.buttonCart {
    color: white;
    border: none;
    background-color: #55d13b;
    border-radius: 0px 10px 0px 10px;
    -moz-border-radius: 0px 10px 0px 10px;
    -webkit-border-radius: 0px 10px 0px 10px;
    border: 0px solid #000000;
    width: 7em;
    height: 2em;
    margin-bottom: 1em;
}

.divTexts p {
    color: #000 !important;
}

.divimageTitle {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-self: center;
}

.buttonBuy {
    color: black !important;
}

.detailProduct {
    /* border: 1px blue solid; */
}

.divImag {
    /* border: 1px blue solid; */
    width: 30%;
    text-align: center;
}

.selectQuantity {
    color: #000 !important;
}

.selectQuantity option {
    color: #000 !important;
}

.cartt p {
    color: #000 !important;
}

.Arte a,
.ofertas a,
.tecnologia a,
.hogar a,
.entretenimiento a {
    color: white;
    text-decoration: none;
}

.divCart {
    /* border: 1px blue solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cartt {
    /* border: 1px blue solid; */
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.divTotal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


/* Katty */

.imgOffers {
    width: 14em;
    /* margin-top: 1em; */
}

.toCart {
    background-color: #55d13b;
    border-radius: 0px 10px 0px 10px;
    -moz-border-radius: 0px 10px 0px 10px;
    -webkit-border-radius: 0px 10px 0px 10px;
    border: 0px solid #000000;
    width: 7em;
    height: 2em;
    margin-left: 4.5em;
    padding-left: 1em;
    padding-top: 0.50em;
}

.viewMore {
    color: white;
    text-decoration: none;
}

.priceOffers {
    margin-left: 2em;
    font-size: 1.5em;
}

.imgBorder {
    border: 1px solid black;
    position: relative;
    right: 0.50em;
}

.imgRight {
    position: relative;
    left: 2.5em;
}

.offert {
    position: relative;
    left: 1em;
}

#detail {
    /* margin-top: 8em; */
}

/* .hr {
    width: 65em;
} */

.imgBorderTwo {
    border: 1px solid black;
    position: relative;
    right: 0.50em;
    background: #D8D8D8;
}



.imgAdvertising {
    width: 20em;
}

.imgAdvertising2 {
    width: 45em;
}

a {
    text-decoration: none;
    color: white;
}

.backToTop {
    margin-top: 2em;
    background-color: #57717C;
    padding: 1em;
}

.container-footer {
    background-color: #37454B;
}

.container-footer a {
    list-style: none;
    color: white;
}

.container-footer a:first-child {
    font-size: 1.5em;
}

.firstLi {
    margin-top: 2em;
}

.fa-facebook-f,
.fa-twitter,
.fa-google-plus-g {
    color: white;
}

.fa-facebook-f {
    position: relative;
    left: 4.5em;
}

.fa-google-plus-g {
    position: relative;
    right: 4.5em;
}

.cards {
    background-color: white;
    margin-top: 3em;
    width: 12em;
}

.imgPaypal,
.imgVisa,
.imgMastercard {
    width: 4.5em;
}

.termsConditions {
    color: white;
    margin-top: 2em;
}

.imgDetail {
    width: 20em;
}

.cart-detail {
    background-color: #55d13b;
    cursor: pointer;
    padding-top: 1em;
    width: 6em;
    position: relative;
    left: 2em;
    border: 1px solid black;
}

.addToCart {
    float: right;
}

.productTitle {
    margin-left: 2em;
}

.addCont {
    text-decoration: none;
    color: white;
}

.imgCart {
    margin-left: 1em;
}

.cart-detail {
    background-color: #55d13b;
    cursor: pointer;
    padding-top: 1em;
    width: 6em;
    position: relative;
    left: 2em;
    border: 1px solid black;
}

.cart-detail a {
    text-decoration: none;
    color: black;
}

.addToCart {
    float: right;
}


/* --------------------------------- */

.vestuario a,
.Arte a,
.tecnologia a,
.hogar a,
.entretenimiento a {
    color: white !important;
    text-decoration: none;
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.divimageTitle {
    border: 1px #3a4649 solid;
    height: 20em;
    padding: 5em;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    background-color: #bdcad2;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.divCart {
    border: 1px #3a4649 solid;
    height: 20em;
    padding: 5em;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    background-color: #bdcad2;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.cartUp {
    cursor: pointer;
}

.enviar {
    display: none;
}

.buy {
    display: inline-block;
    font-weight: 300;
    color: white;
    font-style: normal;
    font-size: 16px;
    margin: .7rem;
    padding: 0.5rem 1.61rem;
    background-color: #29ABE2;
    -webkit-box-shadow: 0px 4px 0px #186377;
    -moz-box-shadow: 0px 4px 0px #186377;
    box-shadow: 0px 4px 0px #186377;
}

.buttonBuy {
    display: inline-block;
    font-weight: 300;
    color: white;
    font-style: normal;
    font-size: 16px;
    margin: .7rem;
    padding: 0.5rem 1.61rem;
    background-color: #29ABE2;
    -webkit-box-shadow: 0px 4px 0px #186377;
    -moz-box-shadow: 0px 4px 0px #186377;
    box-shadow: 0px 4px 0px #186377;
}

.selectQuantity {
    display: inline-block;
    font-weight: 300;
    color: white;
    font-style: normal;
    font-size: 16px;
    margin: .7rem;
    padding: 0.5rem 1.61rem;
    background-color: #29ABE2;
    -webkit-box-shadow: 0px 4px 0px #186377;
    -moz-box-shadow: 0px 4px 0px #186377;
    box-shadow: 0px 4px 0px #186377;
    height: 2em;
}

.categoriesSelect {
    z-index: 20000;
}

#sectionCarousel {
    z-index: -2000;
}


/* 
CSS
*/

.categoriesSelect {
    width: 19em;
}

.divWrap {
    display: flex;
    flex-direction: column;
}

.resultsSearchInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secondNav,
.thirdNav {
    display: flex;
    flex-direction: row;
    color: #f2f5f6;
    font-weight: bold;
    text-transform: uppercase;
}

.thirdNav {
    justify-content: space-around;
    background-color: #313a3c;
    align-items: center;
}

.firstNav {
    display: flex;
    justify-content: flex-end;
    background-color: #394447;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #f2f5f6;
    text-transform: uppercase;
    font-weight: bold;
}

.firstNavwrap {
    display: flex;
    justify-content: space-between;
    width: 20em;
    padding-right: 2em;
    justify-content: space-around;
}

.secondNav {
    height: 2.7em;
    display: flex;
    height: 4em;
    justify-content: space-around;
    background-color: #313a3c;
    align-items: center;
}

.inputSearch {
    width: 35em !important;
    border-radius: 4px 4px 4px 4px;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 0px solid #000000;
}

img[src="/assets/images/shopping-cart.png"] {
    width: 2em !important;
}

.substract,
.search {
    width: 2em;
    position: relative;
    border: none;
}

.search {
    padding-right: 0.2em;
    margin-right: 0.8em;
}

.formLoupe {
    display: flex;
    flex-direction: row;
    height: 2.5em;
    flex-wrap: nowrap;
    background-color: #f1f5f6;
}

.hideView {
    display: none;
}

.resultsSearchInput {
    padding: 2em;
    /* border: 1px blue solid; */
    color: #000 !important;
    display: flex;
    flex-direction: row;
}

.divWrap {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 27em;
    margin-bottom: 2em;
    align-self: stretch;
    align-content: stretch;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #516875;
    width: 21em;
}

.divPhoto {
    /* border: 1px blue solid; */
    width: 21em;
    height: 15em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f2f5f6;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 0px solid #000000;
}

.photo {
    border-radius: 10px 0px 10px 0px;
    -moz-border-radius: 10px 0px 10px 0px;
    -webkit-border-radius: 10px 0px 10px 0px;
    border: 0px solid #000000;
    border: 2px #65b4ea solid;
}

.divPrice,
.divTitle {
    text-align: center;
}

.divTitle {
    color: #c5e2f7;
    padding: 1em;
}

.divPrice {
    color: #65b4ea;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cart {
    display: flex;
    flex-direction: row !important;
    width: 10em;
    height: 1.7em;
    margin-bottom: 2em;
    align-self: stretch;
    align-content: stretch;
    align-items: stretch;
    justify-content: space-between;
    font-size: 1.5em;
    margin-top: 1em;
}

.btn-demo{
    display: flex;
    flex-direction: row;
}
.btn-demo:hover{
    color: white !important;
}

.btn {
    display: flex !important;
    font-weight: bold !important;
    font-size: 
    flex-direction: row;
    justify-content: space-around;
   width: 7em;
    height: 3em;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:hover {
 color: white;
}



img[src='/assets/images/cupid.png'] {
    width: 2.5em;
    cursor: pointer;
}

img[src='/assets/images/shopping-cart.png'] {
    width: 2.5em;
    cursor: pointer;
}

.divOptions {
    display: flex;
    flex-direction: row;
    height: 2.5em;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 1em;
}

.divWraperItemCart {
    display: flex !important;
    flex-direction: row !important;
    color: #186377;
        font-size: 0.8em !important;
        margin-bottom: 1.2em;
        background-color: white;
        padding: 1em;
        border: 2px #333d3f solid;

}

.divPriceItem{
    text-align: end;
    color: #186377;
    font-size: 2em;
}

.divOtherItems{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: flex-end;
    align-content: space-around;
    padding-left: 0.5em;
    color: #186377;


    
}

.containerCart{
    background-color: #eef3f8;
    min-height: 25em;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-content: stretch;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    border: 2px #3a4649 solid;
    font-size: 0.5em;
    font-weight: bold;
}

.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 17em;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
    
    .modal-content{
        padding: 0.2em;
    }
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}

/* ----- v CAN BE DELETED v ----- */
body {
	background-color: #78909C;
}

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #FFFFFF;
}

.btn-demo:focus {
	outline: 0;
}

.demo-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center;
}

.demo-footer > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}

.buttonCheckout{
display: flex;
justify-content: center;    
align-items: center;
align-content: center;
align-self: center;
text-align: center;
border: 1em white solid;
}

.button{
    text-align: center;
    background-color: #edf2f8;
    border: none;
    width: 10em;
    height: 2em;
    color: #3a4649;
    display: flex;
    flex-direction: row;
    border: 2px #3a4649 solid;
    font-weight: bold;
    display: flex;
justify-content: center;    
align-items: center;
align-content: center;
align-self: center;
text-align: center;

}

.btn-demo {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 16px;
    background-color: transparent !important;
}

#myModalLabel2{
    font-weight: bold;
}

.divPhotoItem img{
    width: 7em !important;
    border-radius: 10px 0px 10px 0px;
    -moz-border-radius: 10px 0px 10px 0px;
    -webkit-border-radius: 10px 0px 10px 0px;
    border: 0px solid #000000;
    border: 2px #333d3f solid;
}

.divTitleItem{
    font-weight: normal !important;
    color: #333d3f !important;
}

.hiden{
    border: 1px blue solid;
}

.select{
    border: none;
    width: 7em;
    height: 2em;
    background-color: #f1f5f6;
}

.divQuantity{
    display: flex;
    flex-direction: row;
}

.total{
    font-weight: bolder;
    color: lightcoral !important;
}

h5 {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .p {
    text-align: center;
    padding-top: 40px;
    font-size: 13px;
  }

.titleUnique{
    font-weight: bold;
    text-transform: uppercase;

}

.Details{
    width: 10em;
    display: flex;
    flex-direction: column;
    color: lightcoral !important;
    text-align: center;
    font-size: 2em;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;

}
.divDetailPhoto{
    border-radius: 10px 0px 10px 0px;
    -moz-border-radius: 10px 0px 10px 0px;
    -webkit-border-radius: 10px 0px 10px 0px;
    border: 0px solid #000000;
    border: 4px #65b4ea solid;
    font-weight: bolder;
}



.hide{
    display: none;
}

.anchorOption{
    color:white;
}

a{
    text-decoration: none;
}

#prueba{
    display: none;
}
img[src="assets/images/mlc-home-desktop-slider-picture-b2f2c69c-8a43-4948-8a01-99e5c3296f0c.jpg"]{
    width: 99.9%;
}
/* 
CSS
*/